#home{
	position: absolute;
    margin-left: -100px;
    left: 20%;
    width: 1000px;
    
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {

	display: block;
	width: 100%;
	line-height: 1;
	margin: 0 auto;
	

}